header.header
    .header_main.container.df.aife.fdc
        .menu.df.aic.jcsb
            .logo
                img(src="static/images/content/logo.svg", alt="")
            .nav-menu
                ul.df
                    li
                        a.active(href="") Trang chủ
                    li
                        a(href="") Luyện tập
                    li
                        a(href="") Phòng tập
                    li
                        a(href="") Sự kiện
                    li
                        a(href="") Về chúng tôi
                    .lang
                        a(href="")
                            img(src="static/images/content/image_lang.svg", alt="")
        .container.banner.df.jcsb
            .slogan
                p   Máy luyện võ
                span   DUMMY trí lực
                .description
                    p Luyện tập & đánh giá quá trình luyện tập
                    span Cùng các võ sư hàng đầu việt nam
            .chart_table
                .ranking.df.jcsb  
                    h2 Xếp hạng Năm 2020
                    .item_kickboxing.df.aic
                        p Kickboxing
                        i.fa.fa-angle-down
                .content
                    .item.df.aic
                        h2.df.jcc.aic #1
                        img(src="static/images/content/image_next.svg", alt="")
                        .point 969
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Cung Lê
                    .item.df.aic
                        h2.df.jcc.aic #2
                        img(src="static/images/content/image_down.svg", alt="")
                        .point 910
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Martin Nguyễn
                    .item.df.aic
                        h2.df.jcc.aic #3
                        img(src="static/images/content/image_up.svg", alt="")
                        .point 870
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Nguyễn Trần Duy Nhất
                    .item.df.aic
                        h2.df.jcc.aic #4
                        img(src="static/images/content/image_next.svg", alt="")
                        .point 845
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Trương Đình Hoàng
                    .item.df.aic
                        h2.df.jcc.aic #5
                        img(src="static/images/content/image_next.svg", alt="")
                        .point 834
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Trần Quang Lộc
                    .item.df.aic
                        h2.df.jcc.aic #6
                        img(src="static/images/content/image_next.svg", alt="")
                        .point 821
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Thành Lê
                    .item.df.aic
                        h2.df.jcc.aic #7
                        img(src="static/images/content/image_next.svg", alt="")
                        .point 813
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Chris Nguyễn
                    .item.df.aic
                        h2.df.jcc.aic #8
                        img(src="static/images/content/image_next.svg", alt="")
                        .point 801
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Trần Quang Lộc
                    .item.df.aic
                        h2.df.jcc.aic #9
                        img(src="static/images/content/image_next.svg", alt="")
                        .point 794
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Phạm bá vương
                    .item.df.aic
                        h2.df.jcc.aic #10
                        img(src="static/images/content/image_next.svg", alt="")
                        .point 792
                        .avt
                            img(src="static/images/content/avatar_ranking.svg", alt="")
                        .name Hùng tuấn minh