
.slick-dots {
    position: absolute;
    bottom: 20px;
    @media all and (max-width: 768px) {
      bottom: 5px;
    }
    li button:before {
      font-size: 15px;
    }
    li.slick-active button:before {
      color: #ffffff;
    }
    &.slick-slider {
      margin-bottom: 0;
      position: relative;
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots li button:before {
    font-size: 50px;
    @media all and (max-width: 768px) {
      font-size: 15px;
      content: "_";
    }
  }
  .loadajax {
    width: 170px;
    height: 42px;
    margin: 0 auto 20px;
    background: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #656565;
    cursor: pointer;
  }
  .ratting {
    span {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #c0392b;
      padding-right: 8px;
    }
  }
  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
  
    display: inline-block;
    font-size: 20px;
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;
  
    &::before {
      content: "★★★★★";
      font-size: 20px;
      line-height: 23px;
      letter-spacing: -1px;
      background: linear-gradient(90deg, #c0392b var(--percent), #e5e5e5 var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .filter-item-checkbox {
    display: block;
    position: relative;
    padding-left: 20px;
    margin: 10px 0;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #656565;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    &.radio {
      .checkmark {
        border-radius: 10px;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked {
        ~ {
          .checkmark {
            border: 1px solid #c0392b;
            background-color: #ffffff;
            box-sizing: border-box;
            &:after {
              display: block;
            }
          }
        }
      }
    }
    &:hover {
      input {
        ~ {
          .checkmark {
            border: 1px solid #c0392b;
            background-color: #ffffff;
          }
        }
      }
    }
    .checkmark {
      position: absolute;
      top: 1px;
      left: 0;
      height: 14px;
      width: 14px;
      border: 1px solid #808285;
      background-color: #ffffff;
      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 1px;
        left: 4px;
  
        width: 5px;
        height: 9px;
        border: solid #c0392b;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }