footer
    .footer
        .container
            .logo.df.jcc
                img(src="static/images/content/logo.svg", alt="")
            .content.df.jcsb.uppercase
                .footer_box
                    h3 MỘT SẢN PHẨM CỦA
                    span Công ty cổ phần Khởi nguồn
                    .list
                        .item
                            img(src="", alt="") 
                            span Địa chỉ: 231 lạc long quân - tây hồ - Hà Nội
                        .item
                            img(src="", alt="") 
                            span Số điện thoại: 1900 8866
                        .item
                            img(src="", alt="") 
                            span Email: Legend_kickboxing@gmail.com
                        .item
                            img(src="", alt="") 
                            span Fanpage: Legend kichboxing - viet nam
                .menu
                    ul
                        li
                            a(href="") Trang chủ
                        li
                            a(href="") Luyện tập theo bài
                        li
                            a(href="") Danh sách Phòng tập
                        li
                            a(href="") Tin tức mới nhất
                        li
                            a(href="") Về chúng tôi
    .coppy_right.df.jcc.uppercase
        .coppy_right.tac Bản quyền thuộc về Legend kickboxing 
        .page_management.tac Điều khoản Sử dụng
        .privacy_policy.tac Chính sách bảo mật

                    